* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    background-color: rgb(0, 0, 0);
}

h3 {
    position: relative;
    left: 45%;
    color: white;
    font-size: 32px;
    margin-top: 3%;
}

.library {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 2%;
}

.container {
    height: 80%;
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-template-rows: repeat(4,1fr);
    border: 1px solid white;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    margin: 10px;
    padding: 20px;
    border: 1px white solid;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

dialog {
    position: absolute;
    top: 40%;
    left: 40%;
}

form {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: 1;
}

.card > p { 
    font-size: 24px;
    flex: 1;
    display: flex;
}

.card > button {
    padding: 20px;
}

form > p {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
}

.library > button {
    padding: 20px;
}

button {
    background-color: white;
}

.activateRead{
    background-color: rgb(168, 240, 168);
}

.deactivateRead{
    background-color: white;
}
